[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "3.7.4.post0"
cchardet = "*"
aiodns = "*"
black = "*"

[dev-packages]
aiohttp = "4.0.0a1"
[requires]
python_version = "3.7+"
